@import url('https://fonts.google.com/specimen/PT+Serif?sidebar.open&selection.family=PT+Serif');

#head{
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;    
    text-align: center;
    padding-top: 230px;
    text-transform: uppercase;
}
#logo{
    padding-bottom: 50px;
}
#click{
    padding-top: 200px;
    padding-bottom: 30px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#first {
    padding-top: 14%;
    margin-bottom: 9%;
}
.logo {
    padding-top: 9%;
    margin-bottom: 3%;
}
.mouse {
    margin-top: 20%;
    padding: 35px 0;
    margin-bottom: 20%;
}

#about {
    margin-top: 50px;
    margin-bottom: 50px;
}
.fontsize {
    font-size: cal(1vh + 1vw + .5vmin);
}


h6 {
    height: 1vh;
}
#about,
#service,
#pple,
.whatWeDo,
#contact,
.footer p {
    font-family: 'PT Serif', cursive;
}
.col-md-12 {
    width: 100%;
    color: #fff;
    font-family: 'Akronim', cursive;
    font-size: calc(1vw + 1vh + .5vmin);
    font-size: 1.1em;
}
h1 {
    font-family: 'PT Serif', cursive;
}
.whatWeDo {
    margin-bottom: 4%;
}
.whatWeDo image:hover {
    cursor: pointer,
}
.what {
    margin-bottom: 30px;
}
.hideMe {
    display: none;
}
#service {
    background-image: url('../images/s_image.jpg');
    color: #fff;
    margin-bottom: 50px;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 80px;
    background-size: cover;
}
.card:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.card-1 {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.582);
    cursor: pointer;
    display: none;
    transition: all 0.5s ease;
}
.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.card-deck {
    padding: 1% 4%;
}
.ptag {
    padding: 5% 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 50px 10px;
    font-weight: 100%;
    padding-top: 30px;
    border: 4px solid whitesmoke;
    font-size: 1.1em;
    line-height: 90%;
    margin: 20% 5%;
    overflow: hidden;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'PT Serif', cursive;
}